<h2 id="title">Welcome to Ember</h2>

<p> Locked: {{#if unlocked}}unlocked!{{else}}locked!{{/if}} </p>

{{#konami-code action=(action "unlock")}}
  {{input type="text"}}
{{/konami-code}}

<button {{action "lock"}}>Re-Lock</button>
